<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
</head>

<body>
<h1>Most visited cities in the world</h1>
<p>This is a list of the cities with the biggest number of famous museums from all around the world.</p>

<table>
    <thead>
    <tr>
        <td>City</td>
        <td>Country</td>
        <td>No. of Museums</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "oras: ${listaOrase}">
        <td th:text="${oras.city}"/>
        <td th:text="${oras.country}"/>
        <td th:text="${oras.totalMuseums}"/>
    </tr>
    </tbody>
</table>

</body>
</html>